<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plotly Test</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<form method="POST">
    <select name="dropdown">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
    </select>
    <input type="submit" value="Submit">
</form>

<div id="plot"></div>
<script>
var plot = {{ plot|safe }};
Plotly.newPlot('plot', [plot]);
</script>
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plotly Test</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<div id="plot"></div>
<script>
var plot = {{ plot|safe }};
Plotly.newPlot('plot', [plot]);
</script>
</body>
</html>
 -->